body {
	margin: 0;
}
#map_div {
	border: 3px;
	border-color: silver;
	width: 500px;
	height: 500px;
	margin: 0 auto;
}
#header {
	background-color: #FF7F24;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 34px;
}
#regATag {
	text-align: right;
}
#logATag {
	
}
#spHeadAR {
	width: 100%;
	height: 100%;
	text-align: right;
}
.headerATag {
	
}