body {
	margin: 0;
}
#header {
	background-color: #FF7F24;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 34px;
}
#middle {
	padding-top: 5px;
	width: 90%;
	margin: 0 auto;
}
#footer {
}
#map_div {
	width: 448px;
	height: 460px;
}
#divInfHosp {
	width: 448px;
	height: 460px;
}
#divMapInfo {
}
#spTopLeft {
	text-align: center;
	width: 448px;
	height: 460px;
}
#spTopRight {
	text-align: center;
	width: 448px;
	height: 460px;
}
#spBottonCenter {
	text-align: center;
	width: 100%;
	height: 350px;
}
#tabSearch {
	width: 100%;
}
#tabSearch  select{
	text-align: center;
	width:300px;
}
#tabSearch  td {
	text-align: center;
}
#regATag {
}
#logATag {
}
#spHeadAR {
	background-color:red;
	width: 100%;
	height: 100%;
	text-decoration: none;
}
.headerATag {
	
}